body {
    text-align: center;
    padding-top: 200px;

    background-image: url(./images/icon.png?as=webp&height=190);
    background-repeat: no-repeat;
    background-position: center 20px;
}

ul {
    list-style: none;
}